@succes-color: rgb(209, 237, 209);
@error-color: #FCCBCB;

.Output {
    min-height: 200px;
    font-size: 0.9em;
    padding: 0px;

    pre {
        border: none;
        color: black;
        font-family: monospace;
    }

    &.valid {
        border: @succes-color solid 3px;
        background-color: @succes-color;
        pre {
            background-color: @succes-color;
        }
    }

    &.error {
        border: @error-color solid 3px;
        background-color: @error-color;

        pre {
            background-color: @error-color;
        }
    }
}